/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "numpad_extra_keys.h"
#include "consumer_extra_keys.h"
#include "custom_modifiers.h"

#define COPILOT  LSGK(F23)
// linux unicode input
#define LUC      LSCK(U)
// Windows unicode input
#define WUC      LA(X)

#define QWERTY_BASE 1

#define TBLE_ORTHO  1

// layers
#define DEFAULT         0
#define QWERTY          0
#define RESERVED        1
#define RSE             2
#define LWR             3
#define NUM             4
#define FUNC            5
#define CONFIG          6


/*
 * Key numbering cheat sheet:
 * 
 * 0     1    2   3   4   5   6  7    8    9  10   11
 * ESQ   Q    W   E   R   T   Y  U    I    O  P    BKSP
 * 
 * 12    13   14  15  16  17  18 19   20   21 22   23
 * TAB   A    S   D   F   G   H  J    K    L  ;    QUOT 
 *  
 * 24    25   26  27  28  29  30 31   32   33 34   35
 * Shift Z    X   C   V   B   N   M   ,    .  /    RET
 *
 * 36    37   38  39  40  41  42  43  44   45 46   47
 * CTRL  none GUI ALT RSE SPC SPC LWR LEFT UP DOWN RIGHT
 */

#define BT(n) BT_SEL n

/ {
    chosen {
       zmk,matrix_transform =
                       &ortho_transform;
    };
    

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
              &kp ESC    &kp Q      &kp W      &kp E       &kp R          &kp T          &kp Y            &kp U          &kp I       &kp O      &lt FUNC P     &kp        BKSP
              &kp TAB    &kp A      &kp S      &kp D       &kp F          &kp G          &kp H            &kp J          &kp K       &kp L      &kp      SEMI  &lt CONFIG QUOT
              &kp LSHFT  &kp Z      &kp X      &kp C       &kp V          &kp B          &kp N            &kp M          &kp COMMA   &kp DOT    &kp      FSLH  &kp        RET
              &kp LCTRL  &none      &kp LGUI  &kp LALT     &mo RSE        &lt NUM SPACE  &kp SPACE        &mo LWR        &kp LEFT    &kp UP     &kp      DOWN  &kp        RIGHT
            >;
        };

        reserved_layer {
            label = "reserved";
            bindings = <
              &none      &none      &none     &none        &none          &none          &none            &none          &none       &none      &none     &none
              &none      &none      &none     &none        &none          &none          &none            &none          &none       &none      &none     &none
              &none      &none      &none     &none        &none          &none          &none            &none          &none       &none      &none     &none
              &kp LCTRL  &none      &kp LGUI  &kp LALT     &mo LWR        &kp SPACE      &kp SPACE        &mo RSE        &kp LEFT    &kp UP     &kp DOWN  &kp RIGHT
            >;
        };

        lwr_layer {
            label = "LWR";
            bindings = <
	      &kp   GRAVE   &kp   EXCL      &kp   AT       &kp   HASH        &kp   DOLLAR        &kp   PERCENT        &kp   CARET          &kp   AMPS          &kp   ASTERISK   &kp   LPAR        &kp   RPAR        &kp   BKSP
              &kp   CAPS    &kp   F9        &kp   F10      &kp   F11         &kp   F12           &kp   PRINTSCREEN    &kp   SCROLLLOCK     &kp   UNDER         &kp   PLUS       &kp   LBKT        &kp   RBKT        &kp   PIPE
              &kp   LPAR    &kp   F13       &kp   F14      &kp   F15         &kp   F16           &kp   PAUSE_BREAK    &kp   INS            &kp   LBRC          &kp   RBRC       &kp   HOME        &kp   END         &kp   RPAR
	      &kp   LCTRL   &none           &kp   LGUI     &kp   LALT        &none               &kp   DEL            &kp   DEL            &none               &none            &none             &none             &none 
            >;
        };

        rse_layer {
            label = "RSE";
            bindings = <
	      &kp   TILDE   &kp   NUMBER_1  &kp   NUMBER_2 &kp   NUMBER_3    &kp   NUMBER_4      &kp   NUMBER_5       &kp   NUMBER_6       &kp   NUMBER_7      &kp   NUMBER_8   &kp   NUMBER_9    &kp   NUMBER_0    &kp   BKSP
              &kp   CAPS    &kp   F1        &kp   F2       &kp   F3          &kp   F4            &kp   PRINTSCREEN    &kp   SCROLLLOCK     &kp   MINUS         &kp   EQUAL      &kp   LBKT        &kp   RBKT        &kp   BACKSLASH
              &kp   LPAR    &kp   F5        &kp   F6       &kp   F7          &kp   F8            &kp   PAUSE_BREAK    &kp   INS            &kp   BACKSLASH     &kp   BACKSLASH  &kp   PAGE_UP     &kp   PAGE_DOWN   &kp   LBKT
	      &kp   LCTRL   &none           &kp   LGUI     &kp   LALT        &none               &kp   BKSP           &kp   BKSP           &none               &none            &none             &kp   ESC         &kp   RBKT 
            >;
        };

        number_layer {
                        label = "NUM";
                            bindings = <
              &kp TILDE         &kp NUMBER_1   &kp NUMBER_2   &kp NUMBER_3   &none               &none                &none                &none                &none           &none             &none             &kp PRINTSCREEN
              &mkp LCLK         &kp NUMBER_4   &kp NUMBER_5   &kp NUMBER_6   &none               &none                &none                &none                &none           &none             &none             &none
	      &mkp RCLK         &kp NUMBER_7   &kp NUMBER_8   &kp NUMBER_9   &none               &none                &none                &none                &kp HOME        &kp PAGE_UP       &kp  PAGE_DOWN    &kp   END
              &kp LCTRL         &none          &kp LGUI       &kp NUMBER_0   &none               &none                &none                &none                &kp LEFT        &kp UP            &kp  DOWN         &kp   RIGHT
                        >;
                };

        func_layer {
            label = "FUNC";
            bindings = <
              &kp   F1      &kp   F2       &kp  F3         &kp    F4         &kp   F5            &kp   F6             &kp   F7            &kp   F8             &none            &none             &none             &none
              &kp   F9      &kp   F10      &kp  F11        &kp   F12         &kp   F13           &kp   F14            &kp   F15           &kp   F16            &none            &none             &none             &none
	      &kp   F17     &kp   F18      &kp  F19        &kp   F20         &kp   F21           &kp   F22            &kp   F23           &kp   F24            &none            &none             &none             &none
	      &kp   LCTRL   &none          &kp   LGUI      &kp   LALT        &none               &none                &none               &none                &none            &none             &none             &none 
            >;
        };

        config_layer {
            label = "Config";
            bindings = <
              &sys_reset     &none         &none         &none           &none           &none     &bt  BT_CLR        &bt BT_PRV        &bt BT_NXT      &bt BT_CLR_ALL    &none             &none 
              &bootloader    &none         &none         &none           &none           &none     &bt  BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2    &bt BT_SEL 3      &bt BT_SEL 4      &none 
              &soft_off      &none         &none         &none           &none           &none     &bt  BT_DISC 0     &bt BT_DISC 1     &bt BT_DISC 2   &bt BT_DISC 3     &bt BT_DISC 4     &ext_power EP_TOG
              &out  OUT_USB  &out  OUT_BLE &out  OUT_TOG &none           &none           &none     &none              &none             &none           &none             &ext_power EP_ON  &ext_power EP_OFF      
            >;
        };

    };
};
